--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
fastapi==0.110.0
uvicorn[standard]==0.29.0
python-multipart
boto3
botocore
requests
pydantic
TTS
soundfile
transformers<4.44.0
